<section class="car-seat-section">
  <div class="container">
    <div class="text-content">
      <svg xmlns="http://www.w3.org/2000/svg" id="a" viewBox="0 0 318.22 100"><path d="m188.35,82.15h8.33c1.43,0,2.49.29,3.38.92,1.22.87,1.95,2.28,1.95,3.81,0,1.74-.92,3.29-2.39,4.04-1.08.54-2.41.83-3.84.83h-3.97v4.23h-3.46v-13.82h0Zm7.62,6.8c1.51,0,2.36-.71,2.36-2.01s-.85-1.99-2.36-1.99h-4.17v4h4.17Z" fill="#343434"/><polygon points="205.39 95.98 205.39 82.15 208.85 82.15 208.85 93.18 216.06 93.18 216.06 95.98 205.39 95.98" fill="#343434"/><path d="m223.35,92.99l-1.29,2.98h-3.83l6.57-13.82h3.4l6.55,13.82h-3.88l-1.39-2.98h-6.13,0Zm3.81-4.95c-.4-.85-.58-1.29-.85-1.93-.27.66-.33.83-.81,1.97l-.91,2.12h3.61l-1.03-2.16h0Z" fill="#343434"/><polygon points="242.67 95.98 239.2 95.98 239.2 84.95 234.42 84.95 234.42 82.15 247.43 82.15 247.43 84.95 242.67 84.95 242.67 95.98" fill="#343434"/><rect x="250.27" y="82.15" width="3.46" height="13.82" fill="#343434"/><path d="m268.57,95.98l-3.56-4.73c-1.82-2.42-3.01-4.14-3.83-5.47.08,1.26.08,1.58.1,6.03v4.17h-3.36v-13.82h4.14l3.36,4.42c1.3,1.72,3.23,4.41,4.08,5.74-.06-1.06-.11-3.09-.11-5.92v-4.23h3.36v13.82h-4.19Z" fill="#343434"/><path d="m291.26,82.15v8.13c0,2.44-.6,3.81-2.14,4.87-1.22.85-2.98,1.3-5.03,1.3-2.28,0-4.2-.58-5.43-1.61-1.24-1.04-1.72-2.34-1.72-4.56v-8.13h3.46v8.06c0,1.28.14,1.93.52,2.4.54.66,1.74,1.07,3.19,1.07s2.65-.41,3.17-1.07c.37-.48.52-1.12.52-2.4v-8.06h3.46Z" fill="#343434"/><path d="m310.45,95.98v-6.82c0-.78.04-1.66.1-2.36-.18.37-.27.58-.39.85l-.56,1.18-3.38,7.15h-3.01l-3.56-7.44c-.12-.23-.23-.46-.35-.71-.08-.18-.18-.4-.29-.58l-.2-.46c.08.99.1,1.16.1,1.8v7.38h-3.46v-13.82h4.62l3.88,8c.33.75.64,1.45.79,1.85l.33-.75c.18-.43.2-.48.52-1.12l3.77-7.98h4.56v13.82h-3.46,0Z" fill="#343434"/><path d="m221.52,48.94c0,10.97-9.43,20.37-22.18,19.86-7.55-.3-15.01-3.74-17.36-7.8-.45-.85-.62-1.93-.67-2.83V3.55h7.47v28.11c3.22-2.05,7.03-3.28,11.18-3.34,6.84-.12,11.61,1.55,15.58,5.12,4.25,3.81,5.97,9.85,5.97,15.51m-7.47-.42c0-4.26-1.35-7.53-3.52-9.47-2.3-2.07-5.51-3.37-10.01-3.37-4.02,0-8.85,1.64-11.73,4.29v17.21c2.53,2.64,6.58,4.2,11.35,4.2,8.08,0,13.92-6.06,13.92-12.86m-103.98-13.06c4.39,0,8.38,1.41,11.3,3.68l6.96-3.58c-4.31-4.55-10.89-7.47-18.26-7.47-13.01,0-22.62,9.06-22.62,20.24s9.61,20.24,22.62,20.24c7.28,0,13.77-2.81,18.09-7.27l-7.02-3.61c-2.9,2.17-6.79,3.51-11.07,3.51-8.69,0-15.24-5.54-15.24-12.88s6.55-12.87,15.24-12.87m18.27.09h0s.01.01.02.02v-.02Zm168.44,12.44l16.26-19.36h-9.7l-10.87,12.94c-.16.16-.32.32-.55.32-.24,0-.38-.17-.55-.34l-10.84-12.92h-9.7l16.25,19.36-17.13,20.42h9.71l11.69-13.94c.18-.19.33-.38.56-.38.22,0,.43.19.61.39l11.69,13.93h9.7l-17.13-20.42h0Zm-32.79,3.36h-28.41c.89,6.05,5.17,10.03,12.63,10.03,4.29,0,7.22-.81,12.72-5.85l6.69,3.15c-4.33,5.73-10.51,10.16-19.41,10.16-13,0-20.29-8.61-20.29-20.44s8.92-19.84,19.85-20.18c11.09-.34,17.06,8.65,18.05,11.08.22.47,1.55,2.96,1.81,7.26s-3.14,4.74-3.62,4.8m-4.47-7.44c-1.64-4.89-5.6-7.98-11.32-8.25-5.83-.27-10.53,3.24-12.31,8.25h23.63Z" fill="#343434"/><polygon points="169.03 28.62 154.52 59.64 138.72 28.62 129.9 28.62 150.44 67.89 136.24 95.98 144.84 95.98 177.63 28.62 169.03 28.62" fill="#343434"/><path d="m40.36,10.01C20.08,10.01,3.64,26.46,3.64,46.73s16.44,36.72,36.72,36.72,36.72-16.44,36.72-36.72S60.64,10.01,40.36,10.01m-20.98,53.28c0,1.42.16,2.82.47,4.17-5.34-5.29-8.65-12.62-8.65-20.73,0-14.57,10.69-26.65,24.66-28.82.8-.09,1.6-.14,2.42-.14,8.65,0,15.17,5.33,15.17,12.4s-6.52,12.4-15.17,12.4c-4.23,0-8.23-1.26-11.27-3.56l-.11-.09-7.44,3.72.22.23c2.11,2.16,4.69,3.9,7.56,5.15-.44.33-.87.69-1.29,1.05-4.24,3.74-6.57,8.79-6.57,14.22m25.49,12.26c-.8.09-1.6.14-2.42.14-8.65,0-15.17-5.33-15.17-12.4s6.52-12.4,15.17-12.4c4.23,0,8.23,1.26,11.27,3.56l.11.09,7.44-3.72-.22-.23c-2.11-2.16-4.69-3.9-7.56-5.15.44-.34.87-.69,1.29-1.05,4.24-3.74,6.57-8.79,6.57-14.22,0-1.42-.16-2.82-.47-4.17,5.34,5.29,8.65,12.62,8.65,20.72,0,14.57-10.69,26.65-24.66,28.82" fill="#343434"/></svg>
      <h2 class="text-content-heading">From Birth to Teen</h2>
      <p>Featuring multiple ADAC award-winning car seats, the T-Line delivers supreme protection and luxury comfort.</p>
      <a href="#" class="start-journey">Start Your Car Seat Journey</a>
    </div>

    <div class="car-seat-section-swiperDiv">
    <div class="swiper mySwiper-{{ section.id }}  stroller">
      <div class="swiper-wrapper">

        {%- if section.settings.collection.products.size > 0 -%}
        {%- for product in section.settings.collection.products  -%}
            <div
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="swiper-slide grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                skip_styles: skip_card_product_styles,
                section_id: section.id,
                quick_add: section.settings.quick_add
              %}
            </div>
          {%- endfor -%}
        {%  endif  %}
      </div>

      <!-- Navigation Buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- Progress Bar -->
      <div class="swiper-pagination"></div>
    </div>
    </div>
  </div>
</section>

<!-- Swiper.js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>

document.addEventListener("DOMContentLoaded", (event) => {
    var swiper = new Swiper('.mySwiper-{{ section.id }} ', {
    slidesPerView: 3,
    spaceBetween: 20,
    loop: false,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    pagination: {
        el: ".swiper-pagination",
        type: "progressbar"
    }
  });
});

  
</script>

<style>
  .car-seat-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: inherit;
    bottom: -20px;
    width: 90%;
    text-align: center;
    left: 5%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #556972;
}

.car-seat-section-swiperDiv {
    position: relative;
    width: 60%;
}

.swiper {
    position: unset;
}

.swiper-wrapper {
    position: unset;
}

  .car-seat-section .container {
    display: flex;
    max-width: 100%;
  }

  .text-content svg {
    width: 100px;
  }

  .text-content-heading {
    font-family: Didot;
    font-size: 34px;
    font-weight: 600;
    margin: 0;
  }

  .start-journey {
    color: #535357;
  }

  .text-content {
    max-width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .stroller .swiper-slide {
    text-align: center;
    background: #f7f7f7;
    border-radius: 10px;
  }
  .swiper-button-prev, .swiper-button-next {
    color: #000;
  }
  .swiper-progress {
    width: 100%;
    height: 4px;
    background: #e0e0e0;
    position: relative;
    margin-top: 10px;
  }
  .swiper-progress-bar {
    width: 0%;
    height: 100%;
    background: #000;
    transition: width 0.3s;
  }
</style>



{% schema %}
    {
    "name": "Strollers",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
      {
        "name": "Strollers"
      }
    ]
  }
   {% endschema %}
   {% stylesheet %}
   {% endstylesheet %}
   {% javascript %}
   {% endjavascript %}